{% extends "recipe_manager/base_generic.html" %}

{% block content %}
<h3 align="center">{% if ingredient.id %}Editing Ingredient '{{ingredient.name}}' {% else %} New Ingredient {% endif %}</h3>

<div class="row">
	<div class="col-6 offset-1">
		<form action="" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<table>
			{{ form.as_table }}
			</table>
			<a class="btn btn-primary" href="{% url 'recipe_manager:home' %}">Back</a>
			<input class="btn btn-primary" type="submit" value="Save">
			
			{% if ingredient.id %}
				<a class="btn btn-danger" href="{% url 'recipe_manager:remove ingredient' ingredient_id=ingredient.id %}">
					<i class="bi bi-eraser"></i> Remove
				</a>
			{% endif %}
		</form>
	</div>
</div>  
{% endblock %}