<div class="row">
	<div class="col-8">
		{% if ingredients %}
		Search: <input type="text" id="search_ingredient" />
	</div>
</div>

<div class="row">
	<div class="col-8 ingredients">
		{% for ingredient in ingredients %}
		<div class="card {% if ingredients_in_recipe|contains:ingredient.id %}used{% else %}{% if select %}selectable{% endif %}{% endif %}" style="width: 180px;">
			<!--img src="..." class="card-img-top" /-->
			<div class="card-body">
				<p class="card-text">
					<span class="name">{{ingredient.name}}</span>
					{% if edit %}
					<a href="{% url 'recipe_manager:edit ingredient' ingredient_id=ingredient.id %}"><i class="bi bi-pencil"></i></a> 						
					{% endif %}
					<br>
					<span class="article">{{ingredient.article}}</span>
					{% if select %}
					<div class="quantity">
						<form action="{% url 'recipe_manager:add ingredient to recipe' %}" method="post">
							{% csrf_token %}
							<input type="hidden" name="ingredient_id" value="{{ingredient.id}}" />
							<input type="hidden" name="recipe_id" value="{{recipe.id}}" />
							{{form_ingredient.quantity}}
							{{ingredient.quantityUnit.description}}
							<button class="btn btn-primary" disabled="true" type="submit">Add</button>
						</form>
					</div>
					{% endif %}
				</p>
			</div>
		</div>
		{% endfor %}
		{% else %}
		No ingredients created yet.
		{% endif %}
	</div>
</div>

<script>
	// ingredient search
	$('input#search_ingredient').keyup(function(e) {
		$('.ingredients .card').show()
		
		let search_text = $('input#search_ingredient').val().toLowerCase()
		
		$('.ingredients .card').each((index, card) => {
			let name_article = $(card).text().replace(/\s+/g, " ").toLowerCase()
			
			if(!name_article.includes(search_text)) {
				$(card).hide()
			}
		})
	})

	// ingredient selection
	$('.card.selectable').click(function(e) {
		$('.card.selectable').find('.quantity').hide()
		$(this).find('.quantity').show()
	})

	function toggleDisabledButton(button, condition) {
		button.prop('disabled', condition)
	}

	$('.quantity input').keyup(function(e) {
		toggleDisabledButton($(this).next(), !$(this).val())
	})
	$('.quantity input').change(function(e) {
		toggleDisabledButton($(this).next(), !$(this).val())
	})
</script>